<html lang="en"> 
<%- include('./partials/header') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1> About this website</h1>
    <p> 
        Hi There! <br/>
        My name is Noam, I'm a technologist and like to always <a href="https://www.washingtonpost.com/blogs/answer-sheet/post/steve-jobs-told-students-stay-hungry-stay-foolish/2011/10/05/gIQA1qVjOL_blog.html?noredirect=on">stay foolish and hungry</a>, this is why I've decided to create this mini-project.
        I've made this website as an exercise to learn NodeJS.
        The code can be foudn in <a href="https://github.com/noam-k/pub-quiz-nodejs"> my GitHub account</a>.
        Some of my other projects can also be found there.
    </p>
    <%- include('./partials/footer.ejs') %>
</body>
</html>